#content-wrap {
    display: none;
}

.msg {
   padding-left: 10px;
    padding-top: 18px;
}

.own-message {
    justify-content: flex-end;
    align-items: center;
    
}

.other-message {
    justify-content: flex-start;
    align-items: center;
}

button {
    background-color: grey;
}